In [1]:
import pandas as pd
import os

In [4]:
genre_name = "'Poetry'"

in_filepath = f"poems/{genre_name}/"
out_filepath = f'df_cleaned/{genre_name}/'

In [5]:
def list_csv_files(directory):
    text_files = []
    for file in os.listdir(directory):
        if file.endswith(".csv"):
            text_files.append(file)
    return text_files

In [7]:
csv_files = list_csv_files(in_filepath)
print(csv_files[0])

42076.txt_split_by_stanza.csv

In [11]:
for csv_file in csv_files:
    df = pd.read_csv(in_filepath+csv_file)
    df.drop(columns=['Unnamed: 0'], inplace=True)

    # let's drop all rows with empty poem title
    df.dropna(inplace=True)
    
    # Filter out rows where Stanza has 10 or less words
    df = df[df['Stanza'].apply(lambda x: len(x.split()) >= 10)]
    
    # Save

,Poem Title,Stanza
3,CONTRASTED SONGS,CONTRASTED SONGS
4,BY,BY
5,MARIAN LONGFELLOW,MARIAN LONGFELLOW
6,MARIAN LONGFELLOW,[Illustration]
7,RICHARD G. BADGER,BOSTON RICHARD G. BADGER
...,...,...
528,"(INTO LIGHT. DEC. 4, 1903, 4:50 A. M.)","(INTO LIGHT. DEC. 4, 1903, 4:50 A. M.)"
529,"(INTO LIGHT. DEC. 4, 1903, 4:50 A. M.)","""It is all right!"" Yes, friend, it is all righ..."
530,"(INTO LIGHT. DEC. 4, 1903, 4:50 A. M.)","""It is all right."" E'en though we miss thee he..."
531,"(INTO LIGHT. DEC. 4, 1903, 4:50 A. M.)","""It is all right."" Kind soul, so bright and tr..."
532,"(INTO LIGHT. DEC. 4, 1903, 4:50 A. M.)","""It is all right!"" Thy words, as fell the nigh..."

,Poem Title,Stanza
21,PREFACE,In presenting to the public the within collect...
22,PREFACE,Some have been easily found in books of which ...
23,PREFACE,The task of gathering the children who made th...
24,PREFACE,"Among these ""Contrasted Songs"" I trust that th..."
91,A SONG OF THE SEA,The mystic sea is singing its golden song to m...
...,...,...
526,"(M. J. E., OBITT, JUNE 19, 1874.)",Passed unto a life all glorious now a ransomed...
529,"(INTO LIGHT. DEC. 4, 1903, 4:50 A. M.)","""It is all right!"" Yes, friend, it is all righ..."
530,"(INTO LIGHT. DEC. 4, 1903, 4:50 A. M.)","""It is all right."" E'en though we miss thee he..."
531,"(INTO LIGHT. DEC. 4, 1903, 4:50 A. M.)","""It is all right."" Kind soul, so bright and tr..."
532,"(INTO LIGHT. DEC. 4, 1903, 4:50 A. M.)","""It is all right!"" Thy words, as fell the nigh..."

In [15]:
df.to_csv(out_filepath+csv_files[0])